<!-- Created Header and Footer Modules to increase efficiency of the code -->
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Rohit's Blog</h1>
          <span class="subheading">A clean blog created and designed using Flask and Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>

<body>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          {% for post in posts %}
          <a href="{{url_for('show_post', post_id = post.id)}}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ post.subtitle }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#"> {{ post.author }}</a>
            on {{ post.date }}
          </p>

          {% endfor %}
        </div>
        <hr>
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('new_post')}}">Create New Post &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

</body>

{% include "footer.html" %}