{% extends "base.html" %}
{% extends "bootstrap/base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
	<h1>Login</h1>
	<!-- <form method="POST" action="{{ url_for('login') }}" novalidate>
		{{ form.csrf_token }}
		<p>
			{{ form.email.label }} <br> {{ form.email(size=30) }}
			{% if form.email.errors %}
			{% for error in form.email.errors %}
			<span style="color:red">{{ error }}</span>
			{% endfor %}
			{% endif %}
		</p>
		<p>
			{{ form.password.label }} <br> {{ form.password(size=30) }}
			{% if form.password.errors %}
			{% for error in form.password.errors %}
			<span style="color:red">{{ error }}</span>
			{% endfor %}
			{% endif %}
		</p>
		{{ form.submit }}
	</form> -->
	<form class="form form-horizontal" method="post" role="form">
		{{ form.hidden_tag() }}
		{{ wtf.form_errors(form, hiddens="only") }}

		{{ wtf.form_field(form.email) }}
		{{ wtf.form_field(form.password) }}
	</form>

</div>
{% endblock %}